body
{
    background-color: #242424;
    border: 5px;
    border-color: maroon;
}
a{
    color: blue;
    text-decoration: none;
}
.meny a
{
    background-color: maroon;
    width: 100px;
    height: 45px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
a>li{
    transition: opacity 10s;
}
.meny:hover{
    opacity: .7;
}
.meny:active{
    opacity: 0;
}
h1, h2, h3, p
{
    color: darkgoldenrod;
}
.pepepe{
    color: rgb(88, 142, 58) ;
}
header 
{
    font-size: 300%;
    color: darkgoldenrod;
}
ul
{
    list-style-type: none;
}
.PepE
{
    padding-left: 5px;
    border-style: solid;
    border-width: 20px;
    border-color: rgb(88, 142, 58);
}
.Text1
{

    color: white;
}
footer{
    color: darkgoldenrod;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ccc;
}

@media (max-width: 350px){
    .content{
        width: 100vw;
    }
    .PepE{
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 50px){
    .SATOR{
        color: #242424;
        user-select: none;
    }
}
.sec    {
    font-size: 1px;
}
@media (min-width: 2000px){
    .SATOR{
    background-color: rgb(100, 100, 100);
    color: white;
    width: 55px;
    }
}

.Container {
    margin-top: 200px;
    margin-left: 5vw;
    width: 40vw;
    display: grid;
    /* grid-auto-flow: row; */
    grid-gap: 10px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Clear Clear Divide Multiply"
                         "Seven Eight Nine Minus"
                         "Four Five Six Plus"
                         "One Two Three Equals"
                         "Zero Zero Dot Equals";
}
/* Justify är i den naturliga läsriktningen, rad för rad från vänster */
#item1{grid-area: Clear; background-color: #432652;}
#item2{grid-area: Divide; background-color: chartreuse;}
#item3{grid-area: Multiply; background-color: fuchsia;}
#item4{grid-area: Seven; background-color: hotpink;}
#item5{grid-area: Eight; background-color: seagreen;}
#item6{grid-area: Nine; background-color: #842854;}
#item7{grid-area: Minus; background-color: lightsalmon;}
#item8{grid-area: Four; background-color: darkgreen;}
#item9{grid-area: Five; background-color: firebrick;}
#item10{grid-area: Six; background-color: mediumorchid}
#item11{grid-area: Plus; background-color: lightblue;}
#item12{grid-area: One; background-color: limegreen;}
#item13{grid-area: Two; background-color: navy;}
#item14{grid-area: Three; background-color: olive;}
#item15{grid-area: Equals; background-color: mediumaquamarine; align-self: stretch;}
#item16{grid-area: Zero; background-color: pink;}
#item17{grid-area: Dot; background-color: orange;}
.item{
    background-color: maroon;
    color: white;
    height: 80px;
    font-size: 2em;
    text-align: center;
    transition: opacity 2s;
}
.item:hover{
    opacity: .5;
}
.item:active{
    opacity: 0;
}

.Listan{
    padding: 5%;
    list-style-type: none;
}
.itema{
    border-style: solid;
    border-width: 0;
    text-align: center;
    padding: 1%;
    font-size: 3em;
    background: maroon;
    color: darkgoldenrod;
    transition: opacity 1s, border-left-width .5s;
}
.itema:hover{
    opacity: .8;
    border-left-width: 90px;
}
.itema:active{
    opacity: 0;
}