@media (max-width: 350px){
    #users{
        width: 100vw;
    }
    /* .content{
        width: 100vw;
    }
    .PepE{
        width: 100px;
        height: 100px;
    } */
}
/* h1, ul{
    text-align: center;
} */
ul{
    list-style: none;
}
h3{
    font-size: 26px;
}